.box{
    width: 20.675rem;
    position: relative;
}
.box .bg{
    width: 20.675rem;
}
.box .bg img{
    width: 100%;
}
.box .bg2{
    background-color: #EBF0F5;
}
.box .bg2 .form{
    width: 19.25rem;
    height: 21.4rem;
    background-color: #fff;
    position: relative;
    margin: 0 .75rem;
    top: -5.775rem;
    box-sizing: border-box;
}
.box .bg2 .form ul{
    width: 19.25rem;
}
.box .bg2 .form ul li{
    height: 2.25rem;
    line-height: 2.25rem;
    width: 15.9rem;
    margin: .4rem auto .4rem auto;
    position: relative;
} 
.box .bg2 .form ul li i{
    position: absolute;
    left: .75rem;top: .75rem;
    /* border: .75rem solid #888; */
    border-radius: 50%;
    background-color: #D0D0D0;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    font-size: .5rem;
    vertical-align: middle;
}
.box .bg2 .form ul li input{
    height: 2.25rem;
    width: 15.9rem;
    vertical-align: middle;
    border: 1px solid #000;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 2.25rem;
    font-size: .75rem;
    color: #d0d0d0;
    vertical-align: middle;
    line-height: 2.25rem;
}
input::-webkit-input-placeholder{
    color:#d0d0d0;
}
.box .bg2 .form ul li span{
    display: none;
    font-size: .75rem;
    line-height: 2.25rem;
   color:red;
   position: absolute;
   top: .1rem;right: .75rem;
   vertical-align: middle;
  
}
.box .bg2 .form ul #submit{
    width: 5.6rem;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 2.6rem;
    background-color: #237EC4;
    color: #fff;
    position: absolute;
    bottom: 2rem;left:50%; 
    margin-left:-2.8rem;
}
.box_1{
    width: 20.675rem;
    height: 40rem;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    display: none;
    z-index: 1;
}
.box_1 .zccg{
    background-color: #fff;
    width: 19.25rem;
    height: 12.5rem;
    position:relative ;
    margin: 10rem auto;
}
.box_1 .zccg a{
    position: absolute;
    top: .25rem;right:.5rem;
}
.box_1 .zccg p{
    font-size: 2rem;
    text-align: center;
    line-height: 12.5rem;
}