* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  outline-style: none;
  -webkit-tap-highlight-color: transparent;
  word-break: break-all;
}
html {
  width: 100%;
  font-size: 20px;
  font-size: 10vw;
  height: 100%;
}
body {
  position: relative;
  width: 10rem;
  height: 100%;
  min-height: 100%;
  margin: 0 auto!important;
  font-weight: 400;
  background: #EDF2F5;
}
a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #333;
}
img {
  display: block;
  width: 100%;
}
.center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
@font-face {
  font-family: 'iconfont';
  src: url('../font_2496187/iconfont.eot');
  src: url('../font_2496187/iconfont.eot?#iefix') format('embedded-opentype'), url('../font_2496187/iconfont.woff2') format('woff2'), url('../font_2496187/iconfont.woff') format('woff'), url('../font_2496187/iconfont.ttf') format('truetype'), url('../font_2496187/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.box {
  position: relative;
  width: 10rem;
  height: 16.908213rem;
}
.box_1 {
  width: 10rem;
  height: 9.335749rem;
}
.box_1 a {
  box-sizing: border-box;
  padding: 0 0 0.054155rem 0.01rem;
  width: 0.57971rem;
  height: 0.57971rem;
  background-color: #fff;
  border-radius: 50%;
  line-height: 0.603865rem;
  text-align: center;
  font-size: 0.386473rem;
  color: #217DC5;
  position: absolute;
  top: 0.483092rem;
  right: 0.483092rem;
}
.center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.box_2 {
  width: 9.130435rem;
  height: 6.15942rem;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding-top: 0.676329rem;
  margin-top: 7.125604rem;
}
.box_2 p {
  text-align: center;
  color: #217DC5;
  font-size: 0.362319rem;
}
.box_2 .p1 {
  font-weight: bold;
  margin-bottom: 0.2657rem;
}
.box_2 input {
  width: 7.681159rem;
  height: 1.207729rem;
  display: block;
  margin: 0.628019rem auto 0.483092rem auto;
  border: 0.012077rem solid #ccc;
  padding: 0 0.676329rem;
  text-align: center;
  box-sizing: border-box;
  font-size: 0.386473rem;
}
.box_2 button {
  width: 7.681159rem;
  margin: 0 auto;
  height: 1.050725rem;
  display: block;
  background-color: #217DC5;
  color: #fff;
  font-size: 0.410628rem;
  border: none;
}
.box_3 {
  width: 10rem;
  height: 16.908213rem;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.box_3 .alert {
  background-color: #fff;
  width: 7.463768rem;
  height: 4.347826rem;
  margin: 4.830918rem auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 0.012077rem solid #ccc;
  margin-top: 5.676329rem;
}
.box_3 .alert a {
  position: absolute;
  top: 0.241546rem;
  left: 6.763285rem;
  font-size: 0.362319rem;
  color: #237EC4;
}
.box_3 .alert p {
  width: 7.463768rem;
  font-size: 0.410628rem;
  text-align: center;
  line-height: 0.628019rem;
  position: absolute;
  top: 1.449275rem;
  margin: 0 auto;
}
