.px(@name, @px) {
	@{name}: @px/82.8rem;
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	outline-style:none;
	-webkit-tap-highlight-color: transparent;
	word-break: break-all;
}
html{
	width:100%;
	height:100%;
	font-size: 20px;
    font-size: 10vw;
	height: 100%;
}
body{
	position: relative;
	width: 10rem;
	height:100%;
	min-height: 100%;
	margin: 0 auto!important;
	font-weight: 400;
	background:#EDF2F5;
}
a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #333;
}
img{
	display: block;
	width: 100%;
}
.center{
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
}
@font-face {
    font-family: 'iconfont';
    src: url('../font_2496187/iconfont.eot');
    src: url('../font_2496187/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font_2496187/iconfont.woff2') format('woff2'),
        url('../font_2496187/iconfont.woff') format('woff'),
        url('../font_2496187/iconfont.ttf') format('truetype'),
        url('../font_2496187/iconfont.svg#iconfont') format('svg');
  }
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
.box{
    width: 10rem;
    position: relative;
    .box_1{
        width: 10rem;
        height: 1.207729rem;
        background-color: #227DC6;
        .left{
                width: 3.611111rem;
                height: 1.207729rem;
                float: left;
            img{
                width: 100%;
                height: 100%;
            }
         }
         .right{
            float: right;
            height: 1.207729rem;
            line-height: 1.207729rem;
            font-size: .628019rem;
            color: #fff;
            margin-right: .289855rem;
         }
    }
    .box_2{
        width: 10rem;
        height: 1.207729rem;
        background-color: #fff;
        border-bottom:.012077rem solid #ccc ;
        font-size: .362319rem;
        padding-left: .362319rem;
        line-height: 1.207729rem;
        color:#227DC6;
        font-weight: bold;
        i{
            width: .060386rem;
            height: .362319rem;
            background-color: #227DC6;
            display: inline-block;
            margin-right: .181159rem;
            vertical-align:middle;
            margin-bottom: .072464rem;
        }
    }
    .cpxq{
        width: 10rem;
        color:#4C555A;
        li{
            height: 2.922705rem;
            margin-top: .144928rem;
            background-color: #fff;
            padding: 0 .362319rem;
            box-sizing: border-box;
            font-size: .338164rem;
            border-bottom: .012077rem solid #E7E7E7;
            border-top: .012077rem solid #E7E7E7;
            h2{
                height: .990338rem;
                line-height: .990338rem;
                font-weight: normal;
                border-bottom: .012077rem solid #ccc;
                font-size: .362319rem;
                margin-bottom: .14rem;
            }
            div{
                div{
                    height: .724638rem;
                    line-height: .724638rem;
                    font-size: .338164rem;
                    p:nth-child(1){
                        float: left;
                        }
                        p:nth-child(2){
                            float: right;
                            }
                }
                
            }
        }
    }
}